
/*左右版心*/
.w{
	width:1190px;
	margin:auto;
	
}
/*左对齐*/
.fl{
	float:left;
	
}
/*右对齐*/
.fr{
	float:right;
	
}

/*颜色 红色*/
.style-red{

	color:#f10215!important;
	font-size: 17px!important;
}
body{

	background-color: #f6f6f6;
}
li{
	list-style:none;
	
}
ul{
	margin:0;
	padding:0;
	
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cgq8x4');
  src:  url('../fonts/icomoon.eot?cgq8x4#iefix') format('embedded-opentype'),
    url(../'fonts/icomoon.ttf?cgq8x4') format('truetype'),
    url(../'fonts/icomoon.woff?cgq8x4') format('woff'),
    url(../'fonts/icomoon.svg?cgq8x4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*京东 顶部开始 start*/
.J_event{
	
	background-color:#fff;
	
}
.J_event a{
	display:block;
	height:80px;
	background:url(../images/top.jpg) no-repeat; 
	position:relative;
}
.J_event a i{
	width:20px;
	height:20px;
	background-color:pink;
	position:absolute;
	right:0;
	top:5px;
	font-family:"icomoon";
	font-style:normal;
	text-align:center;
	line-height:20px;
	color:#fff;
	background:rgba(0,0,0,0,0,4);
}
.shortcut{
	height:30px;
	line-height: 30px;
	background-color:#E3E4E5;
	border-bottom:ipx solid #DDDDDD;
}
.pos{

	font-family: "icomoon";
	font-style: normal;
	font-size: 14px;

}
.shortcut .fl li{

	margin-left: 200px;/*空出左边边界待会放logo图*/
	height: 30px;
	overflow: hidden;

}
.shortcut .fr li{
	float: left;


}
.shortcut a{

	color: #9d9d9d;
	font-size:12px ;
	text-decoration: none;
}
.shortcut a:hover{
	color: #c81623;

}
.spacer{
	margin: 10px 10px 0;
	width: 1px;
	height: 10px;
	background-color: #fff;
}
.dropdown{
	padding-right: 15px;
	position: relative;
}
.dropdown i{

	font-family: "icomoon";
	font-style: normal;
	font-size: 16px;
	position: absolute;
	right: -5px;
	top :0;
}

/*京东 顶部结束 end*/
.erweima{
	width :60px;
	height: 60px;
	border: 1px solid #ccc;
	padding:3px;
	position: absolute;
	top :30px;
	left: -20px;

}

/*header   start*/
.header{
1 
	height: 140px;



}
.inner{

	height: 140px;
	position: relative;
}
.logo{
	
	width: 190px;
	height: 190px;
	position: absolute;
	top: -50px;
	left: 0;
	
	box-shadow: 0 -12px 10px rgba(0,0,0,.2);

}
.logo a{
	display: block; 
	width:190px;
	height:170px;
	
	background-image: url(../images/logo.gif);
	text-align:center;
	text-decoration:none;
	color: red;
}
.logo h1{

	margin:0;
}
.search{
	width: 556px;
	height: 35px;
	top: 25px;
	left: 320px; 
	position: absolute;
	
}
.search input{
	width: 499px;
	height: 33px;
	border: 1px solid #f10215; 
	outline: none;/*取消蓝色边框*/
	padding :0 0 0 5px;
	color:#989898;
	float:left;

}
.search button{
	
	width: 50px;
	height: 35px;
	background-color: #f10215;
	float:left;
	cursor: pointer;/*鼠标变成小手*/
	outline: none;/*取消蓝色边框*/
}
.search i{
	font-family: "icomoon"
}
.search em{
	position: absolute;
	top: 10px;
	right: 65px;
	width: 19px;
	height: 15px;
	cursor: pointer;
	background :url(../images/camara.png);
}
.search em:hover{
	
background-position: -30px 0;
}
.hotwords{
	position: absolute;
	top: 70px;
	left: 320px;
	

}
.hotwords a{

	text-decoration: none;
	color: #9e9b99;
	font-size: 12px;

}
.hotwords a:hover{
	color: #f10215;
}


.mycar{

	top: 25px;
	right: 100px;
	position: absolute;
	width: 188px;
	height: 33px;
	border:1px solid #ccc;
	text-align: center;
	line-height: 33px;

}
.mycar a{
	font-size: 14px;
	color:#f10215;
	text-decoration: none;

}
.mycar i{
	font-family: "icomoon";
	font-style: normal;
	color: #f10215;
	margin-right: 3px;

}
.mycar s{
	position: absolute;
	top: 5px;
	left: 140px;
	text-decoration: none;
	
	background-color: #f10215;
	height: 13px;
	padding: 0 3px;
	line-height: 13px;
	font-size: 13px;
	border-radius: 7px;
	color: #fff;
}
.navitems{
	position: absolute;
	left: 290px;
	bottom: 0;
}
.navitems ul{
	float: left;
}
.navitems ul li{
	float: left;
	margin-left: 30px;
}
.navitems ul li a{
	font-size: 17px;
	text-decoration: none;
	color:#555a5f;
	font-weight: 700; 
	height: 40px;
	line-height: 40px;
	display: block;
}
.navitems ul li a:hover{
	color: #f10215;
}
/*header  end*/

/*foot 开始*/
.footer{
	height: 560px;
	background-color: #eaeaEa;
}
.footer-service{
	
	border-bottom: 2px solid #dedede;
}

.footer-inner{
	height: 17px;
	
	padding: 30px 0;
}
.footer-inner li{
	float: left;
	width: 297px;
	height: 42px;
	

}

/*清除浮动三模块*/
.clearfix:befire,.clearfix:after{
	content :"";
	display: table;
}
.clearfix:after{
	clear:both;
}
.clearfix{
	*zoom:1;
}


.service_unit{
	position: relative;
	width: 225px;
	height: 42px;
	margin: 0 auto;
}
.service_unit h5{
	width: 36px;
	height: 42px;
	
	position: absolute;
	top: 0;
	left: 31px;

	overflow: hidden;
}
.service_unit p{

	line-height: 42px;
	margin-left: 45px;
	font-size: 18px;

	font-weight: 700;
}
*{
		margin: 0;
		padding: 0;
	}
.footer-inner ul{
	height: 42px;
}
.help{
	height: 180px;
	
	padding: 0;
}
.help dt{
	text-decoration: none;
	font-size: 17px;
	color: #666;
	font-weight: 700;
	height: 30px;
}
.help dd a{
	text-decoration: none;
	color: #000000;
	font-size: 16px;
}
.help dd a:hover{
	color: #f10215;
}
.help dd{
	
	height: 22px;
}
.help dl{
	float: left;
	width: 195px;
}
.help .cover{
	float: right;
	width: 207px;
	height: 150px;
	
	background-image: url(../images);

}
.cover dt{
	text-align: center;
}
.cover .info{
	width: 175px;
	height: 50px;
	font-size: 13px;
	margin-top: 5px;
	margin-left: 10px;

}
.cover .more{
	text-align: right;
	padding-right: 10px;
	padding-top: 25px;
}

.copyrght{
	border-top: 1px solid #ccc;
	padding-top: 15px;

}
.copyrght .links a{
	text-decoration: none;
	color:#727272;
	font-size: 13px;

}
.links span{
	font-size: 13px;
	color: #d4cdcd;
	margin:0 8px;
}
.links{
	text-align: center;
}
.c-info{
	font-size: 12px;
	color: #9e9e9b;
	text-align: center;
	line-height: 20px;
	margin-top: 10px;
}



/*foot end*/


















