<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>京东购物</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="style.css"/>
		<!-- normalize 初始化  针对浏览器-->
		<link rel="stylesheet" href="css/normalize.css"/>
		
		<!-- 里面只写公共样式 京东网页的头部和底部样式-->
		<link rel="stylesheet" href="css/base.css"/>
		
		<!--京东首页css -->
		<link rel="stylesheet" href="css/index.css"/>
	</head>
	<body>
		<!--京东顶部开始 -->
		<div class="J_event">
		 <a href="#" class="w">
			<i></i>
		 </a>
		</div>
		<!--jd top is over-->
		<!--快捷导航制作 make shortcut-->
		<div class="shortcut w">
			<div class="w">
				<ul class="fl">
					<li>
						<i class="pos"></i>
						南通
					</li>
				</ul>
				<ul class="fr">
					<li>
						<a href="login.html">你不好，请出门左转(登录)</a>
						&nbsp;
						<a href="regist.html" class="style-red">或者你可以注册</a>
					</li>
					<li class="spacer"></li>
					<li>
						<a href="#">
							首页
						</a>
					</li>
					<li class="spacer"></li>
					<li>
						<a href="#">
							我的订单
						</a>
					</li>
					<li class="spacer"></li>
					<!--dropdown是下拉选项-->
					<li class="dropdown">
						<a href="#">
							特殊选项
							<i></i>
						</a>
					</li>
					<li class="spacer"></li>
					<li class="dropdown">
						<a href="#">
							特殊选项
							<i></i>
						</a>
					</li>
					<li class="spacer"></li>
					<li style="position: relative;">
						<a href="#">
							手机京东
						</a>
						<div class="erweima">
							<img src="images/erweima.png" alt=""/>
						</div>
					</li>
				
				</ul>
			</div>
		</div>	

		<!--快捷导航制作结束-->
		<<!--header部分 start-->
		<div class="header">
			<div class="w inner">
				<!-- logo部分 start-->
				<div class="logo">
					<h1>
						<a title="京东网" href="#"><br/><br/><br/><br/>京东</a>
					</h1>
				</div>
				<!--logo end-->
				<!--搜索  start-->
				<div class="search">
					<input type="text" value="在这里输入内容">
					<button>
						<i></i>
					</button>
					<em></em>

				</div>
				<!--搜索   end -->
				<!--搜索栏下方文字热词 start-->
				<div class="hotwords">
					<a href="#" class="style-red">太热了啊</a>
					<a href="#">好热啊！</a>
					<a href="#">好热啊！</a>
					<a href="#">好热啊！</a>
					<a href="#">好热啊！</a>
					<a href="#">好热啊！</a>
					<a href="#">好热啊！</a>
					<a href="#">好热啊！</a>
					<a href="#">好热啊！</a>
					<a href="#">好热啊！</a>
				</div>
				<!--搜索栏下方文字 end-->
				<!--我的购物车 start-->
				<div class="mycar">

					<i></i>
					<a href="car.html">我的购物车</a>
					<s>0</s>
				</div>
				<!--我的购物车 end-->

				<!--导航栏  start-->
				<div class="navitems">
					<ul>
						<li><a href="#">闪电</a></li>
						<li><a href="#">闪电</a></li>
						<li><a href="#">闪电</a></li>
						<li><a href="#">闪电</a></li>
					</ul>
					<ul>
						<li><a href="#">闪电</a></li>
						<li><a href="#">闪电</a></li>
						<li><a href="#">闪电</a></li>
						<li><a href="#">闪电</a></li>
					</ul>
					<ul>
						<li><a href="#">闪电</a></li>


					</ul>


				</div>
				<!--导航栏  end-->

			</div>
		</div>
		<!--header部分 end-->	



		<!--main  start-->
		<div class="jd">
			<div class="w jd-inner">
				<div class="jd-col1">
					<ul>
						<li><a href="shop.html">有个电器</a></li>
						<li>
							<a href="shop.html">飞机</a>
							<span>\</span>
							<a href="shop.html">坦克</a>
							<span>\</span>
							<a href="shop.html">原子弹</a>
						</li>
						<li>
							<a href="shop.html">飞机</a>
							<span>\</span>
							<a href="shop.html">坦克</a>
							<span>\</span>
							<a href="shop.html">原子弹</a>
						</li>
						<li>
							<a href="shop.html">飞机</a>
							<span>\</span>
							<a href="shop.html">坦克</a>
							<span>\</span>
							<a href="shop.html">原子弹</a>
						</li>
						<li>
							<a href="shop.html">飞机</a>
							<span>\</span>
							<a href="shop.html">坦克</a>
							<span>\</span>
							<a href="shop.html">原子弹</a>
						</li>
						<li>
							<a href="shop.html">飞机</a>
							<span>\</span>
							<a href="shop.html">坦克</a>
							<span>\</span>
							<a href="shop.html">原子弹</a>
						</li>
						<li>
							<a href="shop.html">飞机</a>
							<span>\</span>
							<a href="shop.html">坦克</a>
							<span>\</span>
							<a href="shop.html">原子弹</a>
						</li>
						<li>
							<a href="shop.html">飞机</a>
							<span>\</span>
							<a href="shop.html">坦克</a>
							<span>\</span>
							<a href="shop.html">原子弹</a>
						</li>
						<li>
							<a href="">飞机</a>
							<span>\</span>
							<a href="">坦克</a>
							<span>\</span>
							<a href="">原子弹</a>
						</li>
						<li>
							<a href="">飞机</a>
							<span>\</span>
							<a href="">坦克</a>
							<span>\</span>
							<a href="">原子弹</a>
						</li>
						<li>
							<a href="">飞机</a>
							<span>\</span>
							<a href="">坦克</a>
							<span>\</span>
							<a href="">原子弹</a>
						</li>
						<li>
							<a href="">飞机</a>
							<span>\</span>
							<a href="">坦克</a>
							<span>\</span>
							<a href="">原子弹</a>
						</li>
						<li>
							<a href="">飞机</a>
							<span>\</span>
							<a href="">坦克</a>
							<span>\</span>
							<a href="">原子弹</a>
						</li>
						<li>
							<a href="">飞机</a>
							<span>\</span>
							<a href="">坦克</a>
							<span>\</span>
							<a href="">原子弹</a>
						</li>

					</ul>
				</div>
				<div class="jd-col2">
					<div class="jd-col2-hd">
						<div class="lbt">
							<a href="">
								<img src="images/car.jpg">
							</a>
						</div>
						
					</div>
					<div class="jd-col2-bd">
						<div class="r1">
							<a href="">
								<img src="images/r1.jpg">
							</a>
						</div>
						<div class="r2">
							<a href="">
								<img src="images/r2.jpg">
							</a>
						</div>
						<div class="r3">
							<a href="">
								<img src="images/r3.jpg">
							</a>
						</div> 
					</div>

				</div>

				<div class="jd-col3">
					<div class="user">
						<div class="user-info">
							Hi,欢迎来到本页面！<br/>
							<a href="">登录</a>
							<a href="">注册</a>
						</div>

					</div>
					<div class="news">
						<h5>新闻区域</h5><br/>
						<h2>这里不写了</h2>
					</div>
					<div class="jd-service">
						<h3>选择区域</h3><br/>
						<h2>这里不写了</h2>
					</div>


				</div>
			</div>
			<!--广告  end -->
			<div class="ad">	
				<a href="#"> </a>

			</div>
		</div>
	
		<!--main  end-->
		<!--foot start-->
		<div class="footer">
			<div class="footer-service">
				<!--多快好省  start-->
				<div class="w footer-inner">
					<ul class="clearfix">
						<li>
							<div class="service_unit">
								<h5>多</h5>
								<p>什么都有，轻松购物</p>
							</div>
						</li>
						<li>
							<div class="service_unit">
								<h5>快</h5>
								<p>什么都有，轻松购物</p>
							</div>
						</li>
						<li>
							<div class="service_unit">
								<h5>好</h5>
								<p>什么都有，轻松购物</p>
							</div>
						</li>
						<li>
							<div class="service_unit">
								<h5>省</h5>
								<p>什么都有，轻松购物</p>
							</div>
						</li>
					</ul>
			
				</div>
				<!--多快好省  end -->
				<!--help start-->
				<div class="w help">
					<dl>
						<dt>武林秘籍</dt>
						<dd><a href="#">葵花宝典</a></dd>
						<dd><a href="#">九阴真经</a></dd>
						<dd><a href="#">情意绵绵刀</a></dd>
						<dd><a href="#">六脉神剑</a></dd>
						<dd><a href="#">易筋经</a></dd>
						<dd><a href="#">天山折梅手</a></dd>
					</dl>
					<dl>
						<dt>武林秘籍</dt>
						<dd><a href="#">葵花宝典</a></dd>
						<dd><a href="#">九阴真经</a></dd>
						<dd><a href="#">情意绵绵刀</a></dd>
						<dd><a href="#">六脉神剑</a></dd>
						<dd><a href="#">易筋经</a></dd>
						<dd><a href="#">天山折梅手</a></dd>
					</dl>
					<dl>
						<dt>武林秘籍</dt>
						<dd><a href="#">葵花宝典</a></dd>
						<dd><a href="#">九阴真经</a></dd>
						<dd><a href="#">情意绵绵刀</a></dd>
						<dd><a href="#">六脉神剑</a></dd>
						<dd><a href="#">易筋经</a></dd>
						<dd><a href="#">天山折梅手</a></dd>
					</dl>
					<dl>
						<dt>武林秘籍</dt>
						<dd><a href="#">葵花宝典</a></dd>
						<dd><a href="#">九阴真经</a></dd>
						<dd><a href="#">情意绵绵刀</a></dd>
						<dd><a href="#">六脉神剑</a></dd>
						<dd><a href="#">易筋经</a></dd>
						<dd><a href="#">天山折梅手</a></dd>
					</dl>
					<dl>
						<dt>武林秘籍</dt>
						<dd><a href="#">葵花宝典</a></dd>
						<dd><a href="#">九阴真经</a></dd>
						<dd><a href="#">情意绵绵刀</a></dd>
						<dd><a href="#">六脉神剑</a></dd>
						<dd><a href="#">易筋经</a></dd>
						<dd><a href="#">天山折梅手</a></dd>
					</dl>
					<dl class="cover">
						<dt>特别说明</dt>
						<dd class="info">修炼此武林秘籍需要非常谨慎，否则容易走火入魔，如若不按规定修炼走火入魔本公司概不负责    ------->中国功夫出品</dd>
						<dd class="more"><a href="#">查看详情</a></dd>
						
					</dl>


				</div>

				<!--help end-->
				<!--版权(底部模块)  start-->
				<div class="w copyrght">
					<div class="links">
						<a href="">关于我们</a>
						<span>|</span>
						<a href="">关于我们</a>
						<span>|</span>
						<a href="">关于我们</a>
						<span>|</span>
						<a href="">关于我们</a>
						<span>|</span>
						<a href="">关于我们</a>
						<span>|</span>
						<a href="">关于我们</a>
						<span>|</span>
						<a href="">关于我们</a>
						<span>|</span>
						<a href="">关于我们</a>
						<span>|</span>
						<a href="">关于我们</a>
						<span>|</span>
						<a href="">关于我们</a>
						<span>|</span>
						<a href="">关于我们</a>
						<span>|</span>
						<a href="">关于我们</a>
						<span>|</span>
						<a href="">关于我们</a>
						
						
					</div>
					<div class="c-info">
						<p>我从网上随机抄了一段文字|我从网上随机抄了一段文字</p>
						<p>我从网上随机抄了一段文字|我从网上随机抄了一段文字</p>
						<p>我从网上随机抄了一段文字|我从网上随机抄了一段文字</p>
					</div>
				</div>
				<!--版权(底部模块)  end-->
			</div>


		</div>
		<!--foot end-->
	</body>
</html>