<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>个人注册</title>
	<script src="./js/jquery.min.js"></script>
	<script src="./js/vue.min.js"></script>
	<script src="./js/axios.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/regist.css"/>
    <link rel="icon" type="image/x-ico" href="images/bb.png"/>


</head>

<body>
<div>

		<!-- =====1、顶部====== -->
			<div id="header">
				<div class="images/h-top">
				<!-- 图标logo -->
				<img src="images/logo.png">
				</div>
				<!-- 已有账号 -->
				<p>已有账号？<a href="login.html">请登录></a></p>
			</div>
			
			<!-- =====2、中间内容 -->
			<div id="app">
			<div id="content">
				<div class="input_div">
					<div class="input-middle">
						<input type="text" name="username" class="username" id="username" value="" v-model="register.username" placeholder=" 账号" @blur="lostfunction" >
						<span v-model="lost" v-if="hide">{{lost}}</span>
						<br><br>
						<input type="password" name="password" class="password" id="password"  v-model="register.password" placeholder=" 密码" @blur="passwordkong">
						<span v-model="lostpass" v-if="hidepass">{{lostpass}}</span>
						<br><br>
						<input type="password" name="passwordsecond" class="password" id="passwordsecond"  v-model="passw.pass" placeholder=" 再次输入密码" @blur="secondPassword">
						<span v-model="secondpass" v-if="hidesecondpass">{{secondpass}}</span>
						<br><br>
						<input type="text" name="passwordsecond" class="password" id="address"  v-model="register.address" placeholder=" 地址">
						<br><br>
						<input type="text" name="passwordsecond" class="password" id="phoneid"  v-model="register.phone" placeholder=" 手机号" >
						<span id="tishi" v-if="hidephone" v-model="lostphone1">{{lostphone1}}</span>
					
					</div>
				
					<div class="info-bottom">
						<button class="xiayi" type="button" id="button1"   @click="add">注册</button>
						</div>
						<div class="info-bottomer">
						<img class="qiyetu"  src="images/qiye.png">
						<a class="qiye" href="">企业用户注册</a>
						<img  class="haiwaitu" src="images/haiwai.png">
						<a class="haiwai" href="">海外用户注册</a>
					</div>
				</div>
			</div>
			</div>
			
			
			<!--=====3、底部=====-->
        <div id="footer">
            <div class="other"> 
                <a href="https://www.jd.com/" class="about">关于我们</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 
                <a href="http://about.jd.com/contact" class="call">联系我们</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 
                <a href="http://zhaopin.jd.com/home;jsessionid=0D8472A29BF72DC239E3DE9FA99D04A9.s1" class="people">人才招聘</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 
                <a href="https://www.jd.com/" class="peo">商家入驻</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;
                <a href="https://www.jd.com/" class="tall">广告服务</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;
                <a href="https://app.jd.com/" class="phone">手机京东</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://club.jd.com/links.aspx" class="friend">友情链接</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;
                <a href="https://media.jd.com/" class="shop">销售联盟</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;
                <a href="https://sale.jd.com/act/n0hAvqy5CW8.html" class="club">京东社区</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; 
                <a href="https://gongyi.jd.com/" class="love">京东公益</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp; &nbsp;&nbsp;&nbsp;
                <a href="https://www.joybuy.com/" class="english">English Site</a> 
            </div> 
            <div class="versions"> 
                <span>Copyright © 2004-2018 京东JD.com 版权所有</span> 
            </div> 
    
        </div>
</div>



</body>
<script type="text/javascript">
	var register = {
		registerdata:{
		username: '',
		password: '',
		address:'',
		phone:''
		}
	};
	var passw = {
	password:{
	pass:''
	}
	}
	var vue = new Vue({
		el:'#app',
		data:{
		register,
		passw,
		lost:'',
		lostpass:'',
		lostphone1:'',
		secondpass:'',
		hidesecondpass:false,
		hide:false,
		hidepass:false,
		hidephone:false,
		},
		methods:{



<!--			查看账号是否为空-->
			lostfunction:function(){
			if(document.getElementById("username").value==''){
				this.hide=true;
				this.lost="账号不能为空";
			}else{
				this.hide=false;
			}
			},



<!--			查看密码是否为空-->
			passwordkong:function(){
			if(document.getElementById("password").value==''){
				this.hidepass=true;
				this.lostpass="密码不能为空";
			}else{
				this.lostpass='';
			}
			},



<!--			查看密码是否一致-->
			secondPassword:function(){
			var password1 = document.getElementById("password").value;
			var pass2 = document.getElementById("passwordsecond").value;
			if(password1==pass2){
				this.hidesecondpass=false;
				this.password=password1;
			}else{
				this.hidesecondpass=true
				this.secondpass="两次输入的密码不一致";
				document.getElementById("passwordsecond").value='';
			}
			},



<!--			正则表达式匹配手机号-->
<!--			phoneFun:function(){-->
<!--				var phone1 = document.getElementById("phoneid").value;-->
<!--				var regex = "^1[3578]\d{9}";-->
<!--				if(regex.match(phone1)){-->
<!--					this.phone=phone1;-->
<!--					this.dis=false;-->
<!--				}else{-->
<!--					this.hidephone=true;-->
<!--					this.lostphone1="手机号合适不符合，请重新输入";-->
<!--				}-->
<!--			},-->



<!--			注册-->
			add:function(event){
				var phone1 = document.getElementById("phoneid").value;
				var regex = /^1[3578]\d{9}$/;
				if (phone1.match(regex)) {
				this.phone=phone1;
				var url = "register";
				axios.post(url,this.register).then(function(response){
					if (response.data=='success') {<!-- response.data用来接收Controller返回的东西 -->
						window.location.href='login.html';
					}else{
						document.getElementById("username").value='';
						alert("用户名已存在请重新输入！");
					}
				});
			}else{
				this.hidephone=true;
				this.lostphone1="手机号合适不符合，请重新输入";
			}



			}





		}
	});
</script>
</html>